.card {
  border-radius: 12px;
}

.summary-card {
  min-height: 140px;
}

.card h5 {
  font-size: 1rem;
  font-weight: 700;
}

.card p {
  color: #6c757d;
}


.compliance-card {
    width: clamp(300px, 100%, 1200px);
    padding: 0.5rem;
    box-shadow: 0 2px 0.3rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.audit-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  & .card {
    width: clamp(200px, 30%, 300px);
    
    box-shadow: 0 2px 0.3rem rgba(0, 0, 0, 0.2);
    padding: 0.9rem 0.7rem;
    display: flex;
    align-items: center;
  justify-content: center;
  }
}