.login-signup-page, .login-signup-container {
    transition: all 0.3s;
}
.login-signup-page {
    position: relative;
    padding: 0.5rem;
    background-color: var(--bg);
}

.login-signup-container {
    position: relative;
    width: clamp(300px, 100%, 800px);
    min-width: 300px;
    height: 545px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: var(--accent-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    animation: login-ani 1s ease;
}
@keyframes login-ani {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }
    80% {
        transform: translateY(-1rem);
        opacity: 1;
    }
    90% {
        transform: translateY(0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}
.login-ball1, .login-ball2, .login-wave1, .login-wave2 {
    position: absolute;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
}
.login-ball1, .login-ball2 {
    background-color: var(--accent-color);
    box-shadow: 0 0 1rem var(--accent-color);
    z-index: 8;
    animation: ballPulse 3s linear infinite;
}
.login-ball1, .login-wave1 {
    top: 100%;
    left: 50%;
}
.login-ball2, .login-wave2 {
    top: 0%;
    left: 50%;
}
@keyframes ballPulse{
    30%, 65%, 100% {
        width: calc(var(--ball-ani-size));
    }
    35%, 60% {
        width: calc(var(--ball-ani-size) + 5%);
    }
    45% {
        width: calc(var(--ball-ani-size) - 5%);
    }
}
.login-wave1, .login-wave2 {
    width: 0%;
    --wave-length: 4rem;
    background: radial-gradient(circle at 50% 50%, transparent calc(100% - calc(var(--wave-length) * 3)), rgba(255, 255, 255, 0.7) calc(100% - var(--wave-length)));
    z-index: 7;
    animation: login-wave-ani 3s linear infinite;
}
.login-wave1:nth-of-type(2), .login-wave2:nth-of-type(2) {
    animation-delay: 0.8s;
}
@keyframes login-wave-ani {
    0% {
        width: 0%;
    }
    100% {
        width: calc(var(--ball-ani-size) * 3);
    }
}
/* Moving.. */
.login-signup-container.active-signup .login-form-container{
    left: 0%;
}
.login-signup-container.active-signup .side-info-container{
    left: 50%;
    background: linear-gradient(to bottom, var(--accent-color), var(--accent-dark));
}

.side-info-container, .login-form-container {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    transition: all 0.3s;
}
.login-form-container {
    left: 50%;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    z-index: 10;
}
.side-info-container {
    left: 0%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: var(--accent-bg);
    z-index: 5;
    background: linear-gradient(to bottom, var(--accent-dark), var(--accent-color));
    --ball-ani-size: 100%;
}
.side-info-welcome {
    font-size: 3rem;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;

    & h1 {
        font-size: 2rem;
    }
    & p {
        font-size: 1rem;
    }
}

/* Form start */
.role-slider {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.4rem;
    border-radius: 999px;
}
.role-slider.login-mode {
    width: calc(5rem * 3 + 1rem + 0.8rem);
}
.role-slider.signup-mode {
    width: calc(5rem * 2 + 0.5rem + 0.8rem);
}
.role-slider-element, .slider-slider {
    width: 5rem;
    height: 2.5rem;
}
.role-slider-element {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border: 2px solid var(--accent-color);
    color: var(--secondary-text);
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.role-slider-element:hover {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    font-weight: 600;
}
.role-slider-element.active {
    border: 2px solid transparent;
    color: var(--primary-text);
}
.role-slider-element input {
    width: 0;
    height: 0;
}
.slider-slider {
    position: absolute;
    top: 50%;
    left: 0.4rem;
    transform: translate(0rem, -50%);
    border: 3px solid var(--accent-dark);
    background-color: transparent;
    border-radius: 999px;
    transition: transform 0.3s;
    pointer-events: none;
}

[data-role="FARMER"] { transform: translate(0%, -50%); }
[data-role="TRADER"] { transform: translate(calc(5rem + 0.5rem), -50%); }
[data-role="OFFICER"] { transform: translate(calc(10rem + 1rem), -50%); }

.method-change-text {
    cursor: pointer;
    color: var(--accent-dark);
    font-weight: 700;
    font-size: 1.1rem;

    &:hover {
        text-decoration: underline;
    }
}

.form-submit {
    margin: 0 auto;
}

.passVali {
    position: relative;
    color: red;
    width: 1rem;
    font-size: 0.8rem;
    background-color: var(--accent-transparent);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}
.passVali.notValid {
    animation: noValid 1s infinite;
}
.passVali.valid {
    color: green;
    box-shadow: 0 0 0.3rem 0rem rgba(0, 255, 0, 0.5);
}
.passVali::before {
    content: '';
    position: absolute;
    top: calc(-50% - 0.1rem);
    left: calc(50% - 0.25rem);
    width: 0.5rem;
    aspect-ratio: 1 / 1;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: var(--accent-dark);
    display: none;
    z-index: 10;
}
.validation-info {
    position: absolute;
    top: -130px;
    left: -20px;
    width: 240px;
    height: 120px;
    padding: 0.5rem;
    border-radius: 1rem;
    border-top: 3px solid var(--accent-dark);
    border-bottom: 3px solid var(--accent-dark);
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--primary-text);
    z-index: 9;
    display: none;
}
.passVali:hover .validation-info, .passVali:hover::before {
    display: block;
}
.pass-check {
    margin-bottom: 0.1rem;
    color: red;
    & fa-icon {
        font-size: 0.7rem;
        box-shadow: 0 0 0.2rem red;
        border-radius: 50%;
    }
}
.pass-check.valid {
    color: green;
    & fa-icon {
        box-shadow: 0 0 0.2rem green;
    }
}

@keyframes noValid {
    0%, 100% {
        box-shadow: 0 0 0.3rem 0rem rgba(255, 0, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 0.3rem 0.1rem rgba(255, 0, 0, 0.5);
    }
}
@media(max-width: 600px) {
    .login-signup-page {
        padding: 1.5rem;
    }
    .login-signup-container {
        height: auto;
        padding-top: 12rem;
        flex-direction: column;
    }
    .login-form-container, .side-info-container {
        width: 100%;
        height: auto;
    }
    .login-form-container {
        position: static;
    }
    .side-info-container {
        position: absolute;
        min-height: 12rem;
        --ball-ani-size: 50%;
    }
    .side-info-welcome {
        position: absolute;
        top: 1rem;
        left: 0%;
        z-index: 10;
        & h1 {
            font-size: 2rem;
        }
        & p {
            font-size: 1rem;
        }
    }
    .login-ball1, .login-ball2 {
        width: 50%;
    }
    .login-wave1, .login-wave2 {
        --wave-length: 3rem;
        background: radial-gradient(circle at 50% 50%, transparent calc(100% - calc(var(--wave-length) * 3)), rgba(255, 255, 255, 0.5) calc(100% - var(--wave-length)));
    }
    .login-ball1, .login-wave1 {
        top: 0%;
    }
    .login-signup-container.active-signup .side-info-container{
        left: 0%;
        background: linear-gradient(to right bottom, transparent, rgba(0, 0, 0, 0.4)),
                    linear-gradient(to right bottom, var(--accent-bg), var(--accent-color));
    }
}