<div class="a-page dashboard-wrapper">
  @if(!this.isApproved()) {
  <verify-pending />
  }

  <section class="section-header">
    <div class="section-header-subsection">
      <h1>Welcome back <span class="grad-text">{{ farmerName() }}</span></h1>
      <p>Add crop listings and apply for subsidies</p>
    </div>
    <span class="role-badge shine" [style.background-color]="status() === 'APPROVED' ? '' : '#ffa000'">
      {{ status() }}
    </span>
  </section>

  <section class="summary-grid">
    <div class="summary-card">
      <p>Listed Crops</p>
      <strong>{{ listedCropsCount() }}</strong>
    </div>
    <!-- <div class="summary-card">
			<p>Total Earnings</p>
			<strong>₹{{ totalEarnings() | number:'1.2-2' }}</strong>
		</div> -->
    <div class="summary-card">
      <p>System Alerts</p>
      <strong style="color: var(--accent-dark)">{{ activeAlerts() }}</strong>
    </div>
  </section>
  <div class="card-section">
    <h2 class="section-title">Quick Actions</h2>
    <div class="btn-group">
      <button class="btn btn-primary" (click)="onAddCrop()">+ Add New Crop</button>
      <button class="btn btn-secondary" (click)="onApplySubsidy()">Apply for Subsidy</button>
    </div>
  </div>

  <div class="table-cover">
    <h2 class="section-title">Recent Crop Listings</h2>
    <table class="a-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Crop Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        @for (item of this.recentListings(); track item.listingId) {
        <tr>
          <td>#{{ item.listingId }}</td>
          <td>{{ item.cropType }}</td>
          <td>{{ item.quantity }} Kg</td>
          <td>₹{{ item.price }} /kg</td>
          <td>
            <span class="status-pill" [ngClass]="item.status.toLowerCase()">
              {{ item.status }}
            </span>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="5" style="text-align: center; padding: 20px;">No listings found.</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  
  <div *ngIf="activeTab() === 'subsidies'">
  </div>

  <div class="form-overlay" *ngIf="showAddForm()">
    <div class="add-crop-modal">
      <h2 class="grad-text">List New Crop</h2>

      <div class="input-box">
        <label class="input-label">Crop Type</label>
        <input class="input-field" type="text" [(ngModel)]="newCrop.cropType" placeholder="e.g. Paddy, Corn">
      </div>

      <div class="input-box">
        <label class="input-label">Quantity (Kg)</label>
        <input class="input-field" type="number" [(ngModel)]="newCrop.quantity" placeholder="Enter quantity in Kg">
      </div>

      <div class="input-box">
        <label class="input-label">Price (per Kg)</label>
        <input class="input-field" type="number" [(ngModel)]="newCrop.price" placeholder="Enter price per Kg">
      </div>

      <div class="input-box">
        <label class="input-label">Location</label>
        <input class="input-field" type="text" [(ngModel)]="newCrop.location" placeholder="Enter District">
      </div>

      <div class="form-buttons-box">
        <button class="btn btn-primary" (click)="submitCrop()">Submit Listing</button>
        <button class="btn btn-danger" (click)="showAddForm.set(false)">Cancel</button>
      </div>
    </div>
  </div>
</div>